.main-content {
  display: flex;
}

.profile-container {
  max-width: 420px;
  margin-left: 20%; 
  margin-top: 40px;
  /* padding-left: 220px; Учитывает ширину сайдбара */
  display: block; /* Измените flex на block для нормального потока */
  min-height: calc(100vh - 90px); /* Учитывает высоту хедера */
}

.user-avatar-circle {
  width: 150px !important;
  height: 150px !important;
  cursor: pointer;
}

.ant-card-meta-title {
  font-size: 28px !important;
}

.ant-card-meta-description {
  font-size: 14px;
}

.profile-details-card {
  width: 420px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-size: 18px;
}
